<template>
    <div class="home" v-loading="loading">
        <div class="home__header">
            <Title title="Список библиотек" size="big" />
            <Search />
        </div>
        <LibraryList :libraries="libraries" v-if="libraries.length" />
        <div class="no-sresult" v-else-if="!loading && !libraries.length">
            По вашему запросу не найдено ни одной библиотеки
        </div>
        <Button
            color="primary"
            :onClickHandler="showMore"
            v-if="librariesLength > itemsShow && librariesLength >= 12 && libraries.length >= 12"
        >
            Показать больше библиотек
        </Button>
    </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';
import { Component, Vue } from 'vue-property-decorator';
import Title from '@/components/Title.vue';
import LibraryList from '@/components/LibraryList.vue';
import Button from '@/components/Button.vue';
import Search from '@/components/Search.vue';

@Component({
    computed: {
        ...mapGetters(['libraries', 'itemsShow', 'librariesLength', 'loading'])
    },
    components: {
        Title,
        LibraryList,
        Button,
        Search
    }
})
export default class Home extends Vue {
    async mounted() {
        await this.$store.dispatch('getBooks');
    }

    async showMore() {
        await this.$store.dispatch('loadMore');
    }
}
</script>

<style lang="scss">
.home {
    .el-button {
        margin: 20px auto 0;
    }
}
</style>

<style lang="scss" scoped>
@import '@/scss/_variables';

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 30px);
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (max-width: $braikpoint-sm) {
            flex-direction: column;
        }
    }
}
</style>
