<template>
    <div class="library" v-loading="loading">
        <router-link to="/" class="back-home el-link el-link--primary is-underline"
            >Назад к списку библиотек</router-link
        >
        <div v-if="active">
            <div class="library__banner">
                <img class="" :src="active.data.general.image.url" :alt="active.data.general.image.title" />
            </div>
            <Title :title="active.data.general.name" size="big" />
            <div v-html="active.data.general.description" />

            <div class="library__contacts">
                <Title title="Контакты" size="small" />
                <ul class="contacts">
                    <li v-if="active.data.general.contacts.website">
                        Сайт:
                        <el-link :href="active.data.general.contacts.website" target="_blank">
                            {{ active.data.general.contacts.website }}
                        </el-link>
                    </li>
                    <li v-if="active.data.general.contacts.email">
                        Email:
                        <el-link :href="`mailto:${active.data.general.contacts.email}`" target="_blank">
                            {{ active.data.general.contacts.email }}
                        </el-link>
                    </li>
                    <li v-if="active.data.general.contacts.phones.length">
                        Телефон:
                        <el-link :href="`tel:${active.data.general.contacts.phones[0].value}`">
                            +{{ active.data.general.contacts.phones[0].value }}
                        </el-link>
                    </li>
                </ul>
                <l-map
                    :zoom="zoom"
                    :center="[
                        active.data.general.address.mapPosition.coordinates[1],
                        active.data.general.address.mapPosition.coordinates[0]
                    ]"
                    style="height: 300px; width: 100%;"
                >
                    <l-tile-layer :url="url" :attribution="attribution" />
                    <l-marker
                        :lat-lng="[
                            active.data.general.address.mapPosition.coordinates[1],
                            active.data.general.address.mapPosition.coordinates[0]
                        ]"
                        :icon="icon"
                    >
                        <l-popup>
                            {{ active.data.general.address.fullAddress }}
                        </l-popup>
                    </l-marker>
                </l-map>
            </div>
            <div class="library__hours">
                <Title title="Режим работы" size="small" />
                <div class="item" v-for="(item, index) in workHours" :key="index">
                    <span class="item__day"> {{ item.day }}: </span>
                    <span class="item__hours"> {{ item.from }} - {{ item.to }} </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Title from '@/components/Title.vue';
import { mapGetters } from 'vuex';
import { icon } from 'leaflet';
import placeholder from '@/assets/placeholder.svg';

@Component({
    computed: {
        ...mapGetters(['loading', 'active'])
    },
    components: {
        Title
    }
})
export default class Library extends Vue {
    active!: object | any;
    book = '';
    url = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    attribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';
    zoom = 12;
    icon = icon({
        iconUrl: `${placeholder}`,
        iconSize: [30, 41]
    });

    async mounted() {
        await this.$store.dispatch('fetchActiveLibrary', this.$route.params.id);
    }

    get workHours() {
        const days: Array<any> = [];
        Object.keys(this.active.data.general.workingSchedule).forEach(item => {
            if (item === '0') {
                days.push({
                    day: 'Понедельник'
                });
            } else if (item === '1') {
                days.push({
                    day: 'Вторник'
                });
            } else if (item === '2') {
                days.push({
                    day: 'Среда'
                });
            } else if (item === '3') {
                days.push({
                    day: 'Четверг'
                });
            } else if (item === '4') {
                days.push({
                    day: 'Пятница'
                });
            } else if (item === '5') {
                days.push({
                    day: 'Суббота'
                });
            } else if (item === '6') {
                days.push({
                    day: 'Воскресенье'
                });
            }
        });
        Object.values(this.active.data.general.workingSchedule).forEach((item: any, index) => {
            days[index] = {
                ...days[index],
                from: `${item.from.split(':')[0]}:${item.from.split(':')[1]}`,
                to: `${item.to.split(':')[0]}:${item.to.split(':')[1]}`
            };
        });
        return days;
    }

    beforeDestroy() {
        this.$store.commit('setActive', []);
    }
}
</script>

<style lang="scss" scoped>
.library {
    padding-top: 30px;
    min-height: calc(100vh - 60px);
    &__banner {
        height: 300px;
        margin-top: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__contacts,
    &__hours {
        margin-top: 30px;
        h4 {
            margin: 0 0 15px;
        }
    }
    &__contacts {
        .contacts {
            list-style: none;
            padding-left: 0;
            li {
                display: flex;
                align-items: flex-end;
                line-height: 21px;
                margin-bottom: 3px;
                font-size: 14px;
                a {
                    padding-left: 5px;
                }
            }
        }
    }
    &__hours {
        .item {
            &__day {
                font-weight: 700;
            }
        }
    }
}
</style>
