<template>
    <el-button @click="onClickHandler" :type="color">
        <slot />
    </el-button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Button extends Vue {
    @Prop() onClickHandler!: void;
    @Prop(String) color!: string;
}
</script>

<style lang="scss" scoped></style>
