<template>
    <router-link class="library-item" :to="{ name: 'Library', params: { id: id } }">
        <div class="library-item__image">
            <img :src="image.url" :alt="image.title" />
        </div>
        <h5 class="library-item__title">{{ name }}</h5>
    </router-link>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class BookItem extends Vue {
    @Prop(String) name!: string;
    @Prop(String) id!: string;
    @Prop(Object) image!: any;
}
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.library-item {
    display: block;
    text-decoration: none;
    &__image {
        height: 200px;
        margin-bottom: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__title {
        margin: 0;
        color: $c-main-text;
    }
    &:hover {
        .library-item__title {
            color: $c-primary;
        }
    }
}
</style>
