<template>
    <div class="libraries-list">
        <LibraryItem
            v-for="library in libraries"
            :key="library._id"
            :name="library.data.general.name"
            :id="library._id"
            :image="library.data.general.image"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import LibraryItem from '@/components/LibraryItem.vue';
import { Libraries } from '@/types';

@Component({
    components: {
        LibraryItem
    }
})
export default class BooksList extends Vue {
    @Prop() libraries!: Libraries[];
}
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.libraries-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    @media (max-width: $braikpoint-md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: $braikpoint-sm) {
        grid-template-columns: 1fr 1fr;
    }
}
</style>
