<template>
    <el-input v-model="term" placeholder="Поиск" />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    computed: {
        term: {
            set(value) {
                this.$store.commit('setTerm', value);
            },
            get() {
                return this.$store.state.term;
            }
        }
    }
})
export default class Search extends Vue {}
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.el-input {
    width: 150px;
    @media (max-width: $braikpoint-sm) {
        width: 100%;
        margin-bottom: 20px;
    }
}
</style>
