<template>
    <h2 class="page-title" v-if="size === 'big'">
        {{ title }}
    </h2>
    <h4 class="page-title" v-else>
        {{ title }}
    </h4>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Title extends Vue {
    @Prop(String) title!: string;
    @Prop(String) size!: string;
}
</script>

<style lang="scss" scoped></style>
