<template>
    <div id="app" class="app">
        <el-row :gutter="20">
            <el-col :span="18" :offset="3" :xs="{ span: 24, offset: 0 }">
                <router-view />
            </el-col>
        </el-row>
    </div>
</template>

<style lang="scss">
@import '@/scss/main.scss';

.app {
    padding: 0 10px 30px;
}
</style>
