@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $c-main-text;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
